<div class="footer-main">
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-main-title">cyberTools</div>
                <ul class="footer-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/features">Features</a>
                    </li>
                    <li>
                        <a href="/pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="/help/documentation">Tools</a>
                    </li>
                    <li><a href="/help/faq">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-main-title">Product</div>
                <ul class="footer-nav">
                    <li>
                        <a href="/desktop">cyberTools Desktop</a>
                    </li>
                    <li>
                        <a href="/mobile">cyberTools Mobile</a>
                    </li>
                    <li><a href="https://developer.cyberTools.com" target="_blank" rel="noopener">Developers</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mt-md-0 mt-sm-5 col-xs-12">
                <div class="footer-main-title">Solutions</div>
                <ul class="footer-nav">
                    <li>
                        <a href="/business">Business</a>
                    </li>
                    <li>
                        <a href="/education">Education</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mt-md-0 mt-sm-5 col-xs-12">
                <div class="footer-main-title">Company</div>
                <ul class="footer-nav">
                    <li>
                        <a href="/help/about">Our Story</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/press">Press</a>
                    </li>
                    <li>
                        <a href="/help/legal">Legal &amp; Privacy</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-info">
                    <div class="slogan">
                        <p>&copy; cyberTools 2023 - Your PDF Editor</p>
                    </div>
                    <div class="social">
                        <a class="social__item social__item--linkedin" href="https://www.linkedin.com"
                            target="_blank" title="LinkedIn - cyberTools"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>