<div>
    <input type="file" (change)="onFileSelected($event)" />
    <br />
    <label>Page Range (comma-separated): </label>
    <input type="text" [(ngModel)]="pageRange" >
    <br />
    <button (click)="splitPDF()">Split PDF</button>
    <br />
    <!-- <div *ngFor="let page of splitPages">
      
      {{ page.getText() }}
    </div> -->

    <!-- <ngx-extended-pdf-viewer
    [src]="'path-to-your-pdf-file.pdf'"
    style="display: block; height: 500px;"
    (pdfLoaded)="onPdfLoaded($event)"
  ></ngx-extended-pdf-viewer>
  <div *ngIf="numPages > 0">
    <p>Total Pages: {{ numPages }}</p>
    <div *ngFor="let page of pagesArray">
      <ngx-extended-pdf-viewer
        [src]="'path-to-your-pdf-file.pdf'"
        [page]="page"
        style="display: block; height: 500px;"
      ></ngx-extended-pdf-viewer> -->
      <pdf-viewer [src]="this.link"></pdf-viewer>
  </div>