body {
    font-family: 'PROXIMA_NOVA_MEDIUM';
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.section {
    flex: 1 1 165px;
}

h3 {
    color: #47474f;
}

ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #e5322d;
    text-decoration: none;
}

@media (max-width: 768px) {
    .section {
        flex: 1 0 50%;
    }
}

@media (max-width: 576px) {
    .section {
        flex: 1 0 100%;
    }
}