<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><strong class="fs-4">&times;</strong></button>
</mat-dialog-actions>
<mat-dialog-content>

  <div class="container">
    <div class="section">
      <p style="font-weight: 500;">ORGANIZE PDF</p>
      <ul>
        <li><a href="merge_pdf">Merge PDF</a></li>
        <li><a href="split-pdf">Split PDF</a></li>
        <li><a href="remove-pdf">Remove Pages</a></li>
        <li><a href="extract-pages">Extract Pages</a></li>
        <li><a href="organize-PDF">Organize PDF</a></li>
        <li><a href="scan-to-PDF">Scan to PDF</a></li>
      </ul>
    </div>

    <div class="section">
      <p style="font-weight: 500;">OPTIMIZE PDF</p>
      <ul>
        <li><a href="compress-PDF">Compress PDF</a></li>
        <li><a href="repair-PDF">Repair PDF</a></li>
        <li><a href="OCR-PDF">OCR PDF</a></li>
      </ul>
    </div>

    <div class="section">
      <p style="font-weight: 500;">CONVERT TO PDF</p>
      <ul>
        <li><a href="jpf-to-pdf">jpf to pdf</a></li>
        <li><a href="word-to-pdf">word to pdf</a></li>
        <li><a href="powerpoint-to-pdf">powerpoint to pdf</a></li>
        <li><a href="Excel-to-pdf">Excel to pdf</a></li>
        <li><a href="Html-to-pdf">Html to pdf</a></li>
      </ul>
    </div>

    <div class="section">
      <p style="font-weight: 500;">CONVERT FROM PDF</p>
      <ul>
        <li><a href="pdf-to-jpg">pdf to jpg</a></li>
        <li><a href="pdf-to-word">pdf to word</a></li>
        <li><a href="pdf-to-powerpoint">pdf to powerpoint</a></li>
        <li><a href="pdf-to-Excel">pdf to Excel</a></li>
        <li><a href="pdf-to-pdf/A">pdf to pdf/A</a></li>
      </ul>
    </div>

    <div class="section">
      <p style="font-weight: 500;">EDIT PDF</p>
      <ul>
        <li><a href="Rotate-pdf">Rotate pdf</a></li>
        <li><a href="add-page-numbers">add page numbers</a></li>
        <li><a href="add-watermark">add watermark</a></li>
        <li><a href="edit-pdf">edit pdf</a></li>
      </ul>
    </div>

    <div class="section">
      <p style="font-weight: 500;">PDF SECURITY</p>
      <ul>
        <li><a href="Unlock-pdf">Unlock pdf</a></li>
        <li><a href="protect-pdf">protect pdf</a></li>
        <li><a href="sign-pdf">sign pdf</a></li>
      </ul>
    </div>
  </div>

</mat-dialog-content>