li,
a {
    padding: 5px 0;
    text-decoration: none;
    color: rgb(15, 13, 13);
    ;
}

li,
a:hover {
    color: #e5322d;
}

.bg-primary {
    background-color: #fff !important;
    box-shadow: rgb(1, 1, 1) 0px 1px 7px 0px;
}

.navbar-brand,
.nav-link {
    color: rgb(15, 13, 13);
    font-family: 'PROXIMA_NOVA_MEDIUM';
}

.nav-link:hover {
    color: #e5322d;
}

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #e5322d;
}

.navbar .megamenu {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-family: 'PROXIMA_NOVA_MEDIUM';
}

h4 {
    font-family: 'PROXIMA_NOVA_SEMIBOLD';
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 30%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

// ============ desktop view ============
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

// ============ desktop view .end// ============


// ============ mobile view ============
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    .desktop-item {
        display: none;
    }
}

// ============ mobile view .end// ============

@media(max-width: 354px) {
    .megamenu-width {
        width: 100%;
    }
}

.profile-menu {
    font-size: 20px;

    .dropdown-menu {
        right: 0;
        left: unset;
        padding-left: 15px;
        margin-top: 20px;
    }
    
    .fa-fw {
        margin-right: 10px;
    }
}

.toggle-change {
    &::after {
        border-top: 0;
        border-bottom: .3em solid;
    }
}

.dropdown-menu-toggle::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 80%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}