.pdfContainer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
  }
  
  .pdfView {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column; /* Display items in a column */
    overflow: hidden; /* Hide any content that overflows the container */
    margin: 10px; /* Add margin to create space between items */
  }
  
  .pdfView pdf-viewer {
    width: 100%; /* Take up 100% of the container's width */
    height: 100%; /* Take up 100% of the container's height */
  }
  
  :host ::ng-deep .ng2-pdf-viewer-container {
    overflow: hidden !important; /* Hide any content that overflows the container */
    width: 100% !important;
    height: 100% !important;
    border: 1px solid whitesmoke !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    box-sizing: border-box; /* Include border in the total width/height */
  }
  
  :host ::ng-deep .ng2-pdf-viewer-container::-webkit-scrollbar {
    display: none !important; /* Hide the scrollbar in WebKit browsers (e.g., Chrome, Safari) */
  }
  